body {
  background: url("/src/assets/photos/wallpaper1.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.card-photo {
  height: 15rem;
  object-fit: cover;
}

.nav {
  position: relative;
  width: -webkit-fill-available;
  z-index: 9;
}

.card-div {
  text-align: center;
  padding-top: 10px;
}

.one-card {
  display: inline-block;
  width: 20rem;
  margin: 20px;
  -webkit-box-shadow: -1px -1px 14px -3px rgba(0, 0, 0, 0.7);
  box-shadow: -1px -1px 14px -3px rgba(0, 0, 0, 0.7);
}

.input-group {
  width: 35%;
  min-width: 360px;
  margin: -15px auto 8px;
}

.input-group-div {
  width: 35%;
  min-width: 360px;
  margin: -36px auto 20px;
  display: flex;
}

.submenu {
  position: inherit;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(255, 255, 255, 0.42);
}

.submenu a {
  color: black;
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #416563;
}

.form-input {
  margin: auto;
  border-radius: 25px;
  margin-top: 50px;
}

.form-input-registration {
  border-radius: 25px;
  margin: 45px auto;
}

.form-input-addOffer {
  margin: auto;
  border-radius: 25px;
  margin-top: 20px;
}

.input-timepicker {
  margin: auto;
  width: 50%;
  margin-bottom: 0px;
}

.timepickers {
  display: flex;
  margin: auto;
  width: 35%;
  min-width: 350px;
}

.timepickers-edit-profile {
  display: flex;
  margin: auto;
  width: 70%;
  min-width: 270px;
}

.title {
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}

#form-submit {
  position: absolute;
  right: 33%;
  margin-top: 18px;
}

.showFormBtn {
  display: block;
  margin: auto;
  max-width: 300px;
  height: 60px;
  min-width: 140px;
  margin-top: 30px;
}

.fadeOut {
  padding-top: 48px;
  opacity: 0;
  width: 0;
  height: 0;
  /* transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s; */
}
.fadeIn {
  opacity: 1;
  transition: width 0.4s, height 0.4s, opacity 0.4s 0.4s;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

p {
  font-family: "Brush Script MT", cursive;
}

.detail {
  margin-left: 10px;
}

#datePicker-1 {
  width: 35%;
  min-width: 360px;
  margin: 20px auto 20px;
}

@media (max-width: 1200px) {
  .photos-slider {
    display: block;
    margin: auto;
    width: 100%;
    min-width: 140px;
    margin-top: 30px;
  }
  .profile {
    display: block;
  }
  .slider {
    width: 60%;
    height: 400px;
    border-style: double;
    border-width: 5px;
    margin: auto;
  }
  .profile-details {
    text-align: center;
    padding-top: 40px;
  }
  p {
    font-size: 22px;
  }
  img {
    /* min-width: 800px;
    max-width: 800px;
    height: 490px; */
    height: 390px;
    object-fit: cover;
  }
  .row-details {
    display: block;
  }
}

@media (min-width: 1200px) {
  .photos-slider {
    display: block;
    margin: auto;
    width: 45%;
    /* min-width: 140px; */
    margin-top: 30px;
  }
  .profile-details {
    display: block;
    margin: auto;
    padding-left: 40px;
    width: 50%;
  }

  .profile {
    display: flex;
  }

  img {
    /* min-width: 800px;
    max-width: 800px;
    height: 490px; */
    max-width: 100%;
    min-width: 140px;
    height: 490px;
    object-fit: cover;
  }

  .slider {
    height: 500px;
    border-style: double;
    border-width: 5px;
    margin-left: auto;
  }
  p {
    font-size: 24px;
  }
  .row-details {
    display: -webkit-box;
    padding: 10px;
  }
}

.count-of-rating-p {
  display: inline-block;
  font-size: 18px;
  padding-left: 25px;
}

.stars {
  margin-bottom: -10px;
}

.rating-value-p {
  display: inline-block;
}

.comment {
  background: linear-gradient(to bottom, #cce6ff 0%, #99ccff 100%);
  width: 55%;
  margin: auto;
  display: flex;
  margin-bottom: 15px;
  border: 1px solid black;
  /* padding: 25px; */
  border-radius: 25px;
  min-width: fit-content;
}

.time-comment {
  font-size: 18px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 24px;
  padding-top: 10px;
}

.text-comment {
  font-size: 18px;
  margin: 18px;
  width: 60%;
  text-align: center;
  overflow-wrap: break-word;
  padding: 0px 24px 0px 24px;
  border-right: 1px solid rgb(0, 0, 0);
  border-left: 1px solid rgb(0, 0, 0);
}

.stars-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: break-word;
}

.login-form {
  backdrop-filter: blur(15px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid #000000;
  padding: 25px;
  margin: 20px 0px;
}

.login-btn {
  position: relative;
  margin: 25px 0px;
  left: 40%;
}

.errorMassage {
  color: red;
  font-size: 18px;
  margin: 0px;
  padding-left: 5px;
}

.registration {
  margin: 265px 0px;
}

.edit-form {
  backdrop-filter: blur(15px);
  border: 0.5px solid #000000;
  margin: 20px 0px;
  text-align: -webkit-center;
}

.edit-input {
  width: 70%;
  min-width: 250px;
}

@media (max-width: 500px) {
  .edit-photos {
    width: 320px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 21px;
  }

  .delete-photo-btn {
    position: initial;
    margin: 2px 0px 132px -52px;
  }
}

@media (min-width: 500px) {
  .delete-photo-btn {
    position: absolute;
    margin: 2px 0px 0px -39px;
  }
  .edit-photos {
    width: 350px;
    height: 193px;
    object-fit: cover;
    padding-bottom: 10px;
  }
}

.center {
  text-align: center;
}

.upload-form {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.label-edit-input {
  margin-bottom: -40px;
}

.chosen {
  border-style: solid;
  border-color: #00ff1d;
  border-width: 4px;
}

.arrow-navigation {
  font-size: 45px;
  margin: 25px 20px 0px 0px;
  cursor: pointer;
}

.textarea {
  margin-top: 15px;
  margin-bottom: 15px;
}

.email-label-stripe {
  width: 100%;
  height: 52px;
  background-color: #f5f2f2;
  border: none;
  border-radius: 9px;
}

.form-input2 {
  border-radius: 25px;
  margin-top: 16px;
  margin-bottom: 22px;
}

.center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  text-align: center;
}

.success-paragraph{
  padding: 60px 60px 0px 60px
}

.table-center{
  margin: 10vh auto 0px;
  width: 80%;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.61);
  text-align: center;
}

.page-link {
  background-color: #ffffff54;
}

.page-item.disabled .page-link {
  background-color: #ffffff54;
}

.pagination-center{
  display: inline-block;
  vertical-align: middle;
  padding-top: 15px;
}

.select-input-div{
  text-align: center;
  display: list-item;
  margin-top: 10px;
}

.select-input{
  border-radius: 16px;
  margin: -3px 1px 10px;
  width: 120px;
}

.before-reservation{
  background-color: #ff000014;
  
}

.after-reservation{
  background-color: #00ff3714;
}
